<p><b><?php echo 'Ви увійшли як: '.$user->getEmail(); ?></b></p>
<p><b><?php echo 'Id користувача: '.$user->getId(); ?></b></p>
<p><b><?php if ($user->lastVisit == null) {
    echo 'Це ваш перший візит';
    } else {
    echo 'Ваш останній візинт відбувся: ' . $user->lastVisit;
    } ?></b></p>